body {
  background-color: #e1e388;
}

.top{
  background-color: aqua;
  text-align: center;
  font-family:cursive;
  width: 70%;
  color:white;
}
.inp{
  width: 69.5%;
  border-radius: 5%;
  height: 30px;
}
.addbut{
  background-color: rgb(41, 185, 41);
  width: 70%;
  height: 40px;
  cursor: pointer;
  color:white;
  display: block;
}
.addbut:hover{
  background-color: rgb(26, 122, 26);  
}

.list{
  background-color: aqua;  
  list-style: none;
  padding: 0px;
  width: 70%;
  font-family: cursive;
}

.lis{
  height: 50px;
  border-bottom: 1px solid black;
  padding:11px;  

}

.btn{
  width: 40px;
  color: white;
  float:right;
  border-radius: 20%;
  background-color:rgb(180, 48, 48);
  cursor: pointer;
  
}
.btn:hover{
  background-color: rgb(170, 12, 12)
}
.search{
  width: 69.5%;
  border-radius: 5%;
  height: 30px;
}